body{
  background-image: linear-gradient(to right, #eeaeca, #94bbe9);
}
h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  
}
h1 span{
  padding: 10px;
  border-bottom: 5px solid black;
  display: inline-block;
  border-radius: 25px;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p label{
  padding-right: 30px;
}

.anime-result {
  font-size: 20px;
}

